.root {
  background-color: #E1EBF6;
}

.largeContainer {
  width: 1100px;
  margin: 0 auto;
  padding-top: 32px;
  padding-bottom: 100px;
}

.titleBar {
  min-height: 32px;
  display: flex;
  justify-content: space-between;
}

.titleBar h2 {
  word-wrap: break-word;
  width: 85%;
}

.titleBar button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: medium;
  color: #0f83fd;
}

.titleBar button:hover {
  opacity: 0.8;
}

.buttonWhenPushed:focus {
  display: none;
}

.progressView {
  display: block;
  margin: 32px auto;
}

.contentContainer {
  width: 100%;
  margin-top: 16px;
  padding: 16px 32px;
  background-color: #fff;
  border-radius: 16px;
}

@media (max-width: 1100px) {
  .largeContainer {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
  }
}