.cardAnchor {
  text-decoration: none;
  color: inherit;  
}

.cardAnchor:hover {
  opacity: 0.8;
}

.card {
  width: 350px;
  height: 150px;
  margin-top: 16px;
  padding: 24px;
  margin-right: 16px;
  
  background-color: #fff;
  border-radius: 16px;
}

.title {
  font-weight: bold;
}

.detail {
  margin-top: 8px;
}

.commentsCount {
  margin-top: 8px;
  color: #aaa;
}